@charset "utf-8";
:root {
    /* Color */
    --white-color: #fff;
    --black-color: #222;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --spacing: 12px;

    /* Font Size */
    --font-large: 1.25rem;  /* 20px */
    --font-medium: 0.875rem;    /* 14px */
    --font-small: 0.75rem;  /* 12px */
    --font-micro: 0.625rem; /* 10px */
}
.clearfix::after {content: ''; display: block; clear: both;}
.blind {position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden}
.font-icon {width: 24px; height: 100%; display: inline-block; transition: transform 0.2s;}
.more-btn {transform: rotate(180deg);}
.none {display: none !important;}
.block {display: block !important;}
.flex {display: flex !important;}
.profile-icon {margin-right: var(--spacing);}
.profile-icon > img {width: 100%; height: 100%; border-radius: 50%;}
/* 자동재생 토글버튼 */
.auto-track {background: var(--blue-color) !important; opacity: .4;}
.auto-circle {background: var(--blue-color) !important; right: 0;}