@charset "utf-8";
/* Header */
header {
    width: 100%;
    padding: 0 var(--spacing);
    height: 48px;
    color: var(--white-color);
    background: var(--black-color);
    z-index: 100;
}
header .default-header {
    display: flex;
    justify-content: space-between;
}
header .logo a {
    display: inline-block;
    font-size: var(--font-large);
    line-height: 48px;
}
header .logo img {
    width: 35px;
    height: 24px;
    vertical-align: sub;
}
header .icons button {
    margin-left: var(--spacing);
    font-size: var(--font-large);
    color: var(--white-color);
}
header .search-on {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-between;
}
header .search-on button {
    color: var(--white-color);
    height: auto;
}
header .search-on .searchBox-form {
    width: 100%;
    display: flex;
    align-items: center;
}
header .search-on .searchBox-form input[type="text"] {
    margin-left: 14px;
    padding-bottom: 4px;
    color: var(--white-color);
    background: none;
    border-bottom: 1px solid var(--grey-light-color);
    outline: none;
}

/* Video Player */
.player {
    text-align: center;
    background: #000;
    z-index: 100;
}
.player video {
    width: 100%;
    max-width: 1000px;
    height: 100%;
}

/* Video Info */
.infoWrap .video-content .tag {
    padding: var(--spacing) var(--spacing) 0;
    font-size: 0;
}
.infoWrap .video-content .tag a {
    margin-right: var(--spacing);
    display: inline-block;
    font-size: var(--font-small);
    color: var(--blue-color);
}
.infoWrap .video-content .info {
    width: 100%;
    padding: 0 var(--spacing);
    text-align: left;
}
.infoWrap .video-content .info .more-content {
    display: flex;
    justify-content: space-between;
}
.infoWrap .video-content .info .more-content .video-title {
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: var(--font-large);
    overflow: hidden;
}
.infoWrap .video-content .info .viewDate {
    font-size: 0;
}
.infoWrap .video-content .info .viewDate .secondary-text {
    display: inline-block;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.infoWrap .video-content .info .viewDate .secondary-text ~ .secondary-text::before {
    content: "\002022";
    margin: 0 4px;
}
.infoWrap .video-content .actions {
    padding: var(--spacing);
}
.infoWrap .video-content .actions ul {
    display: flex;
}
.infoWrap .video-content .actions ul li {
    width: 100%;
    text-align: center;
}
.infoWrap .video-content .actions ul li button {
    color: var(--grey-dark-color);
}
.infoWrap .video-content .actions ul li button .font-icon {
    margin: 0 auto;
    display: block;
    font-size: 1.5rem;
}
.infoWrap .video-content .actions ul li button .alt {
    margin-top: 6px;
    display: inline-block;
    font-size: var(--font-medium);
    line-height: 18px;
}
.infoWrap .video-content .channel {
    width: 100%;
    padding: var(--spacing);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}
.infoWrap .video-content .channel a {
    display: flex;
    align-items: flex-end;
}
.infoWrap .video-content .channel .profile-icon {
    width: 34px;
    height: 34px;
}
.infoWrap .video-content .channel .user-info h3 {
    font-size: var(--font-medium);
}
.infoWrap .video-content .channel .user-info span {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.infoWrap .video-content .channel .subscription {
    font-size: var(--font-medium);
    color: var(--red-color);
}
.infoWrap .video-content .video-description {
    padding: var(--spacing);
    display: none;
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    border-bottom: 1px solid var(--grey-light-color);
}
/* Up next */
.upNext {
    margin: var(--spacing);
}
.upNext .next-box {
    margin-bottom: var(--spacing);
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
}
.upNext .next-box .autoPlay-toggle {
    display: flex;
    align-items: center;
}
.upNext .next-box .autoPlay-toggle label {
    margin-right: 8px;
}
.upNext .next-box .autoPlay-toggle #autoPlay {
    width: 40px;
    height: 20px;
    display: inline-block;
    position: relative;
}
.upNext .next-box .autoPlay-toggle #autoPlay .toggle-track {
    width: 100%;
    height: 100%;
    background: var(--grey-light-color);
    border-radius: 10px;
    position: absolute;
    top: 0;
}
.upNext .next-box .autoPlay-toggle #autoPlay .toggle-circle {
    width: 50%;
    height: 100%;
    background: var(--grey-dark-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
}
.upNext ul .item {
    margin-bottom: var(--spacing);
}
.upNext ul .item a {
    display: flex;
}
.upNext ul .item .thoumb img {
    width: 160px;
    height: 90px;
}
.upNext ul .item .item-info {
    padding: 0 var(--spacing);
}
.upNext ul .item .item-info .item-headline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: var(--font-medium);
    overflow: hidden;
}
.upNext ul .item .item-info .sub-head {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    line-height: 15px;
    color: var(--grey-dark-color);
}

/* comment */
.comments-wrap .comment {
    padding: var(--spacing);
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}
.comments-wrap .comment .more-comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.comments-wrap .comment .commenting {
    margin-top: 16px;
    display: none;
}
.comments-wrap .profile-icon {
    width: 48px;
    height: 48px;
}
.comments-wrap .comment .commenting .comment-form {
    width: 100%;
}
.comments-wrap .comment .commenting .comment-form textarea {
    height: 84px;
    padding: 6px;
    border: 1px solid var(--grey-light-color);
    outline: none;
}
.comments-wrap .comment .commenting .comment-form .comment-box {
    margin-top: 8px;
    text-align: right;
}
.comments-wrap .comment .commenting .comment-form .comment-box button {
    padding: 0 var(--spacing);
}
.comments-wrap .comment .commenting .comment-form .comment-box button[type="submit"] {
    color: var(--blue-color);
}
.comments-wrap .watch-next-results {
    display: none;
}
.comments-wrap .watch-next-results .comment-thread-renderer {
    padding-bottom: var(--spacing);
    margin: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--grey-light-color);
}
.comments-wrap .watch-next-results .comment-thread-renderer a {
    min-width: 48px;
    min-height: 48px;
    display: inline-block;
}
.comments-wrap .watch-next-results .comment-thread-renderer .comment-content {
    align-self: center;
}
.comments-wrap .watch-next-results .comment-thread-renderer .comment-content .user-name {
    font-size: var(--font-small);
}
.comments-wrap .watch-next-results .comment-thread-renderer .comment-content .user-txt {
    margin: 4px 0;
    font-size: var(--font-medium);
}
.comments-wrap .watch-next-results .comment-thread-renderer .comment-content ul {
    display: flex;
}
.comments-wrap .watch-next-results .comment-thread-renderer .comment-content ul li {
    font-size: 0.6875rem;
    color: var(--grey-dark-color);
}
.comments-wrap .watch-next-results .comment-thread-renderer .comment-content ul li ~ li {
    margin-right: 10px;
}
.comments-wrap .watch-next-results .comment-thread-renderer .comment-content ul li button {
    color: var(--grey-dark-color);    
}
.comments-wrap .watch-next-results .comment-thread-renderer .comment-content ul .comment-time::after {
    content: "\002022";
    margin: 0 5px;
}

@media screen and (min-width: 768px) {
    .contents {
        display: flex;
        flex-direction: column;
        margin-right: 280px;
    }
    .upNext {
        position: fixed;
        right: 0;
        top: 48px;
        bottom: 0;
        width: 256px;
        overflow-y: auto;
    }
    .upNext ul .item a {
        flex-direction: column;
    }
    .upNext ul .item .thoumb img {
        width: 100%;
        height: auto;
    }
    .upNext ul .item .item-info {
        padding: 8px 0 0 0;
    }
    .upNext ul .item .item-info .item-headline {
        -webkit-line-clamp: 2;
    }
    .comments-wrap .comment {
        border-top: none;
    }
}